body{
    background-color: #87898b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    background-image: url('441LogoSmall.png');
    background-repeat: no-repeat;
}
